@font-face {
  font-family: "Pretendard-Black";
  src: url("/fonts/Pretendard-Black.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("/fonts/Pretendard-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("/fonts/Pretendard-ExtraBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("/fonts/Pretendard-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("/fonts/Pretendard-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("/fonts/Pretendard-SemiBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
